.navBar {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(9, 129, 241);
}

.cont_image {
  position: relative;
  width: 30%;
  height: 100%;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
