.motionButton {
  width: 48px;
  height: 48px;
  margin-top: 10px;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

@media screen and (min-width: 1024px) {
  .motionButton {
    display: none;
  }
}
