.motionButton {
  width: 48px;
  height: 48px;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

@media screen and (min-width: 600px) {
  .motionButton {
    display: none;
  }
}
