.ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1.5rem;
}
.li {
  font-size: 1.5rem;
  color: var(--white);
}

.link:hover {
  border-bottom: 2px solid var(--orange);
}
.selected {
  color: var(--orange);
}

@media screen and (min-width: 600px) {
  .ul {
    flex-direction: row;
  }
  .li {
    color: var(--blue);
  }
  .liFixed {
    color: var(--white);
  }
}
