.ul {
  display: flex;
}

.li {
  list-style: none;
  margin: 1rem;
  font-size: 1.5rem;
  color: var(--white);
}

.link:hover {
  border-bottom: 2px solid orange;
}

.selected {
  border-bottom: 4px solid rgb(255, 0, 221);
}

@media screen and (max-width: 600px) {
  .ul {
    flex-direction: column;
  }
}
