.containerCards {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cursorPointer {
  margin-bottom: 2rem;
  cursor: pointer;
}
.card {
  width: 100%;
  min-width: 335px;
  max-width: 335px;
  border-radius: 1rem;
  overflow: hidden;
  background-color: var(--blue);
}

.contImage {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.image {
  object-fit: cover;
}

.cardBody {
  width: 90%;
  height: 6rem;

  max-width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--white);
  text-align: center;
}

.info {
  font-size: 1.2rem;
  color: var(--white);
}

@media screen and (min-width: 724px) {
  .containerCards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-width: 1700px) {
}
