.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 9999;
}
.contModal {
  width: 85%;
  height: 80%;
  max-width: 500px;
  background-color: var(--blue);
  border-radius: 0.75rem;
}
.modalHeader {
  position: relative;
  right: 1rem;
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modalName {
  width: 100%;
  font-size: 2rem;
  font-weight: 600;
  color: var(--white);
  text-align: center;
}
.btnExit {
  position: absolute;
  top: 1rem;
  right: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.btnExit:after {
  content: '\274c';
  font-size: 28px;
  color: #fff;
  text-align: center;
}
.cardImage {
  position: relative;
  width: 90%;
  height: 40%;
  margin: auto;
  border-radius: 0.75rem;
  overflow: hidden;
}
.image {
  object-fit: cover;
}
.modalBody {
  width: 90%;
  height: 45%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.label {
  margin-right: 0.5rem;
  font-size: 1.1rem;
  color: rgb(255, 179, 16);
  font-weight: 500;
}
.info {
  font-size: 1.2rem;
  color: var(--white);
  margin-bottom: 1rem;
}

.cardDetails,
.groupDetails {
  display: flex;
  justify-content: space-between;
}
