.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 9999;
}
.contModal {
  width: 85%;
  height: 80%;
  max-width: 500px;
  background-color: var(--blue);
  border-radius: 0.75rem;
}
.modalHeader {
  position: relative;
  right: 1rem;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modalName {
  width: 100%;
  font-size: 2rem;
  font-weight: 600;
  color: var(--white);
  text-align: center;
}
.btnExit {
  position: absolute;
  right: 0;
  border: none;
  background-color: transparent;
}
.btnExit:after {
  content: '\274c';
  font-size: 28px;
  color: #fff;
  text-align: center;
}
.cardImage {
  position: relative;
  width: 90%;
  height: 40%;
  margin: auto;
}
.image {
  object-fit: cover;
}
.modalBody {
  width: 90%;
  height: 50%;
  margin: auto;
  margin-top: 1.5rem;
}
.label {
  font-size: 1.4rem;
  color: var(--white);
}
.info {
  font-size: 1.1rem;
  color: rgb(226, 226, 226);
  margin-bottom: 1rem;
}
@media screen and (min-width: 724px) {
}
