.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 9999;
}

.contModal {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--blue);
  padding: 2rem;
  border-radius: 0.5rem;
}
.contCard {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.cardImage {
  position: relative;
  width: 100%;
  height: 40vh;
  overflow: hidden;
  border-radius: 0.5rem;
}
.image {
  object-fit: cover;
}

.cardName {
  margin: 2rem 0 1rem 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: white;
}
.cardBody {
  font-size: 1.2rem;
  color: var(--white);
}

.info {
  color: var(--white);
}
.cardDetails {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
.groupDetails {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.button {
  margin-top: 3rem;
  padding: 10px;
  border: 1px solid var(--white);
  border-radius: 0.5rem;
  font-size: 1.3rem;
  color: var(--white);
  background-color: transparent;
  cursor: pointer;
}
.button:hover {
  background-color: var(--blue-light);
  border: 1px solid var(--blue-light);
  color: var(--white);
}

@media screen and (min-width: 500px) {
  .contModal {
    width: 80%;
    height: auto;
  }
}

@media screen and (min-width: 724px) {
  .contModal {
    justify-content: center;
    align-items: center;
  }
  .contCard {
    max-width: 90%;
    flex-direction: row;
    align-items: center;
  }
  .cardImage {
    min-width: 50%;
  }
  .cardBody {
    padding: 2rem;
  }
  .cardInfo {
    width: 50%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .button {
    padding: 1rem 2rem;
  }
}
