.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.title {
  margin: 4rem 0 2rem 0;
  font-size: 2rem;
  color: var(--yellow);
}
.card {
  width: 100%;
  height: auto;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  background-color: red;
  border-radius: 1rem;
  overflow: hidden;
}

.character {
  position: relative;
  width: 50%;
  height: 33.33%;
  max-height: 200px;
  min-height: 300px;
  overflow: hidden;
}
.image {
  width: 100%;
  height: 100%;
  object-position: top;
  object-fit: cover;
}

.button {
  margin-top: 2rem;
  padding: 1rem 2rem;
  background-color: var(--blue);
  font-size: 1.2rem;
  color: var(--white);
  border: none;
  border-radius: 1rem;
}

@media screen and (min-width: 724px) {
  .character {
    width: 33.33%;
  }
}
@media screen and (min-width: 1200px) {
  .character {
    width: 16.65%;
  }
}
